*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #fdcb6e;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/*--------- STYLE HEADER ------------*/
header{
    height: 80px;
    width: 100%;
    background-color: #ffeaa7;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 10;
}
.navbar {
	display: flex;
	align-items: center;
}
.logo{
    width: 200px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav {
	flex: 1;
    text-align: right;
}
nav ul {
	display: inline-block;
    list-style-type: none;
}
nav ul li {
	display: inline-block;
}
a {
	text-decoration: none;
    color: #555;
    line-height: 80px;
    padding: 0 10px;
}
nav a:hover{
    color: #910000;
    background-color: #fdcb6e;
    display: block;
}
/*----------------- END HEADER -------------------*/


/*----------------- TOP-WRAPPER -------------------*/
.top-wrapper{
    padding: 180px 0 100px 0;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    color: #fbc531;
    text-align: center;
}
.top-wrapper h1{
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.top-wrapper p{
    color: black;
    opacity: 0.8;
    margin-bottom: 3px;
}
.btn-wrapper{
    margin: 20px 0;
}

.signup{
    background-color: #239b76;
}
.facebook{
    background-color: #3b5998;
    margin-right: 10px;  
}
.twitter{
    background-color: #55acee;
}
.btn{
    padding: 12px 24px;
    color: white;
    opacity: 0.8;
    border-radius: 4px;
}
.btn:hover{
    opacity: 1;
}
.bx{
    margin-right: 5px;
}
/*----------------- END TOP-WRAPPER -------------------*/

/*----------------- FOUNDER -------------------*/
.founder-list{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: transform 0.5s;
}
.founder-list img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.founder-list:hover{
	transform: translateY(-10px);
}
.bx.bxs-quote-alt-left {
	font-size: 34px;
	color: #ff523b;
}
.founder-list p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
.founder-list h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}
.founder{
    padding-bottom: 80px;
    background-color: #fdcb6e;
    text-align: center;
}
.head{
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}
.head h2{
    font-weight: normal;
}
.founder-list{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.row{
    display: flex;
	align-items: center;
	flex-wrap: wrap;
    justify-content: space-around;
}
/*----------------- END FOUNDER -------------------*/

/*----------------- MESSAGE -------------------*/
.head h3{
    font-weight: normal;
}
.message-wrapper{
    padding-bottom: 80px;
    text-align: center;
}
.message{
    padding: 15px 40px;
    background-color: #55efc4;
    cursor: pointer;
    box-shadow: 0 7px #00b894;
}
.message:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}
/*----------------- END MESSAGE -------------------*/

/*-----------------FOOTER -------------------*/
footer{
    width: 100%;
    background-color: #ffeaa7;
    opacity: 0.9;
    height: 200px;
}
.footer-width{
    width: 70%;
    margin: 0 140px;
}
.footer-logo{
    float: left;
}
.footer-logo img{
    width: 300px;
    padding-top: 30px;
}
.footer-logo p{
    color: black;
    font-size: 16px;
}
.follow{
    float: right;
}
.follow h3{
    margin: 30px 0;
    padding-top: 20px;
}
.follow ul {
    list-style-type: none;
}
.follow ul li {
    display: block;
    margin: 5px 0;
}
.follow li:hover{
    cursor: pointer;
}
.copyright{
    width: 100%;
    background-color: #ffeaa7;
    opacity: 0.9;
}
.copyright hr{
	border: none;
	background: #b5b5b5;
    height: 1px;
    width: 80%;
}
.txt{
    text-align: center;
    padding: 10px 0;
}
/*----------------- END FOOTER -------------------*/